body {
	background: #faf8f6;
}

body,
h1, h2, h3, h4, h5, h6,
.nav a:hover,
.nav li.current_page_item a, 
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.current-menu-item a,
.nav li.sfHover,
#navigation .nav li ul li a:hover,  
#mini-features h3,
#latest-blog-posts .post h2.title a,
.post .title a, .portfolio .title a,
.widget h3,
#tabs .inside li a,
#comments .comment-head a,
h3.archive_year,
.ie6 .button, .ie6 .button:visited,
.reply a,
.slide .entry h2,
.port-cat a:hover, .port-cat a.current { 
	color: #4b443f; 
}

#header-container, #content {
    border-color: #dbd7d4;
}

.nav a ,
#navigation .nav li ul li a,
#footer,
.post-meta,
.ico-cal,
.widget a,
#tabs ul.wooTabs li a,
#tabs .inside li span.meta,
#comments .comment-head .date, #comments .comment-head .edit, #comments .comment-head .perma,
.port-cat a {
	color:#9a8d84;
}

#commentform input.txt,
#commentform textarea,
#connect .newsletter-form,
#post-author
{
	color: #7e736d; 
	background-color: #f9f7f6;
    border-color: #e4dfdc;
}

.meta-nav,
#breadcrumbs,
#post-entries a,
#title-container .blog-title-sep,
#title-container .description,
.searchform input.s { 
	color: #cec4bd; 
}