/*SINGLE*/
h3.single-title
{
font-size: 27px;
text-align: center;
padding-top: 90px;
font-weight: normal;
}

div.section.post 
{
	padding-bottom: 120px !important;
	padding-top: 57px;
}

/*PAGE*/
div.section.single-page 
{
	padding-bottom: 0px !important;
	padding-top: 57px;
}

h2.page-section-title 
{
	font-size: 42px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
	padding-top: 65px;
}